


/* ******************************************body****************** */
.promotions{
	margin-top: 1%;
	margin-left: 14.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1em;
}
.main{
	margin-left: 1%;
	height: 50%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: relative;
}

.img{	
	width: 18%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5em;
	background-color: #fff;
	position: relative;
	margin: 1em;
	top: 1%;
	left: -1%;
	

}
.img  img{
	width: 80%;
	height: 50%;
	block-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	cursor: pointer;
	margin-bottom: 20%;

}
.last{
	position: relative;
	top: 5%;
	left: -41%;
}


.formRef{
	width: 18%;
	height: 70%;
	display: block;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	border-radius: 0.5em;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 1%;
	left: -1%;
}
h4{
	margin: 0.6em;
	font-size: 1.2em;
}
.formRef span{
	margin: 1em 0.6em;

}

.lebelle{
	width: 90%;
	height: 15%;
	margin-left: 1em;
	margin: 1em;
	border-radius: 1em ;
	border:  0.1em  solid #D5D5D7;
	background-color: #fff;
	margin-top: -1em;
	padding-left: 4em;

}
.lebelle::placeholder{
	color: #7E7987;
	font-size: 1em;
	padding-left: 2em;

}

.lebelle:focus{
	outline: none;
}
.lebelle::placeholder{
	color: #7E7987;
	font-size: 1em;
	padding-left: 2em;
}
.lebelle:focus{
	outline: none;
}

.btn{
	width: 50%;
	margin-left: 5em;
	position: relative;
	top: 0;
	cursor: pointer;
	left: 5em;
	margin: 1em;
	padding: 1.5em ;
	border-radius: 1em;
	border: #D5D5D7;
	background-color: #008F89;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
}
.formRef i{
	position: relative;
	top: 8%;
	left: 10%;
	font-size: 1.8em;
	color: #7E7987;
	cursor: pointer;

}
.formRef textarea{
	width: 90%;
	height: 15%;
	margin-left: 1em;
	margin: 1em;
	border-radius: 1em;
	border:  0.1em  solid #D5D5D7;
	background-color: #fff;
	margin-top: -1em;
	padding: 1em 1em 1em 4em;

}
.formRef textarea:focus{
	outline: none;
}

.ref{
	position: absolute;
	top: 70%;
	left: 25%;
	font-weight: normal;
}
.active{
	color: #008F89;
	margin-left: 3em;
	cursor: pointer;
}
.ref span{
	line-height: 2em;
	text-align: center;


}

.img .points{
	display: flex;
	position: relative;
}
.points ul {
	display: flex;
	position: relative;
	top: -9.5em;
	left: 0;
	gap: 0.5em;
	cursor: pointer;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.containe{
		display: block;
		flex-direction: column;
	}
	.img{
		width: 100%;
	

	}
	.formRef{
		width: 100%;
	}
	.last{
		margin-left: 40%;
	}

	
}

/* Media queries pour les écrans de grande taille */


/* @media only screen and (min-width: 1025px) {
    /* Ajoutez vos règles CSS pour les écrans de grande taille ici */

	/* .containe{
		display: flex;
		flex-direction: row;
	}
	.img{
		width: 100%;
	

	}
	.form{
		width: 100%;
	}
	.last{
		margin-left: 40%;
	}

} */ 